#subject {
  width: 100%;
  border: none;
  padding: 1px 2px ;
  margin-bottom: 1em;
}

#editor {
  width: 100%;
  padding: 1px 2px ;
  min-height: 80vh;
  color: #000;
}

.ql-toolbar {
  background-color: #ffffff;
  /* min-height: 5vh; */
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.ql-editor {
  background-color: #ffffff;
  min-height: 70vh;
}